@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme static {
    /* Colors */
    --color-ymca-white: #F5F5F5;
    --color-ymca-black: #0D0D0D;
    --color-ymca-gray: #E5E4E2;
    --color-ymca-yellow: #FBCD6C;
    --color-ymca-orange: #F18C24;
    --color-ymca-blue: #548DB4;
    --color-ymca-celeste: #59ABCF;
    --color-ymca-violet: #A58AB5;
    --color-ymca-orchid: #B87EA0;
    --color-ymca-fuchsia: #E0688E;
    --color-ymca-pink: #F4A9C9;
    --color-ymca-red: #E26A6F;
    --color-ymca-green: #58B684;
    --color-ymca-lima: #AAD181;

    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* Font families */
    --font-nunito: "Nunito", sans-serif;
}

/* Ocultar spinners en Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar spinners en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
